*{
    padding: 0px;
    margin: 0px;
}
.fira-sans-normal{
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.main-section{
    background-color: #F1F1F3;
    width: 1760px;
    /* height: auto; */
}
.banner{
    background-color: #C6E4D6;
    width: 1280px;
    height: 560px;
    /* border: solid black 1px; */
    border-radius: 24px;
    /* margin: 20px 160px 80px 160px; */
    /* margin: 0px, 160px; */
    /* margin-left: 160px;
    margin-right: 500px; */
    padding: 100px 80Px;
    display: flex;
    gap: 64px;
    /* align-content: center; */
    /* align-items: center; */
    /* margin-left: 80px; */
    /* margin-right: 160px; */
    /* margin-top: 20px; */
    margin: 20px auto 0px;
}
.banner-text{
    margin-top: 80px;
    margin-bottom: 117px;
    margin-left: 60px;
    height: 326px;
    width: 622px;
}
.banner-text-subtitle{
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 20px;
}
.banner-main-text{
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
}
.btn-primary{
    background-color: #006A50;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 34px 17px; */
    /* align-items: center; */    
    transition: 0.5s;
}
.btn-primary:hover {
    background-color: rgb(158, 160, 155);
}
.banner-image{
    margin-top: 80px;
    margin-bottom: 117px;
}
/* Vision starts here */
.vision-section{
    /* margin-left: 80px; */
    /* margin-right: 160px; */
    /* margin-top: 80px; */
    margin: 80px auto;
    width: 1440px;
}
.section-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    
}
.vision-discription{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
}
.vision-boxs{
    display: flex;
    justify-content: space-between;
    /* border: solid black 1px;     */
    column-gap: 24px; 
    width: 1440px;
    /* width: 1280px; */
    /* padding: 100px 80Px; */

    
}
.vision-box-heading{
    margin-bottom: 12px;
}
.vision-discription{
    margin-bottom: 24px;
}
.vision-box-1{
    padding: 32px 32px;
    background-color: rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
}
.img1{
    margin-bottom: 24px;
}
.vision-box-2{
    padding: 32px 32px;
    background-color: rgba(16, 199, 10, 0.2);
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
}
.vision-box-3{
    padding: 32px 32px;
    background-color: rgba(206, 176, 10, 0.2);
    border-radius: 16px;
    width: 410.67px;
    height: 325px;
}
.vision-discription{
    margin-bottom: 50px;
}
.btn-primary1{
    background-color: #67d310;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 34px 17px; */
    /* align-items: center; */  
    transition: 0.5s;   
}
.btn-primary1:hover {
    background-color: rgb(158, 160, 155);
}
.btn-primary2{
    background-color: #d6e227;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 34px 17px; */
    /* align-items: center; */   
    transition: 0.5s;  
}

.btn-primary2:hover {
    background-color: rgb(158, 160, 155);
}

.btn-primary3{
    background-color: #c96b8f;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 56px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 34px 17px; */
    /* align-items: center; */ 
    transition: 0.5s;
    
}
.btn-primary3:hover {
    background-color: rgb(158, 160, 155);
}
.btn-primary-news{
    background-color: #006A50;
    /* background-color: #FD6E0A; */
    color: #FFFFFF;
    border: none;
    width: 139px;
    height: 48px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    /* padding: 34px 17px; */
    /* align-items: center; */ 
    transition: 0.5s;
}
.news{
    /* margin-top: 80px; */
    /* margin-left: 80px; */
    width: 1440px;
    margin: auto;

}
.main-head-line{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 24px;
}
.main-head-line-des{
    margin-bottom: 32px;
}
.news-area{
    display: flex;
    column-gap: 32px;
    background-color: #FFFFFF;
    padding: 48px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.sat-img{
    border-radius: 24px;
    width: 408px;
    height: 306px;
}
.headline{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 12px;
}
.news-icon{
    margin-bottom: 12px;
}
.date-time{
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
}
.btn-primary-news:hover{
    background-color: cadetblue;
}
.donate-main-div{
    text-align: center;
    /* margin-top: 60px; */
    margin: 60px 160px 80px 160px;

}
.donate-discription{
    padding: 0px 88px 0px 88px;
}
.btn-tk{
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    column-gap: 24px;
    justify-content: center;
}
.bt{
    width: 240px;
    height: 128px;
    /* padding: 40px; */
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    color: rgba(14, 14, 14, 0.8);
    background-color: white;
    border: none;    
    cursor: pointer;
}
.bt:hover{
    background-color: burlywood;
}
.text-fild{
    width: 1032px;
    height: 64px;
    margin: 32px 124px;
    text-align: center;
    border: none;
}
